// Specific CSS for your home-page
.banner {
    background-size: cover;
    background-position: center;
    padding: 123px 0;
  }

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
