
<h1>New rating</h1>

  <%= simple_form_for [@order, @rating], remote: true, url: order_ratings_path, method: :post do |f| %>
    <%= f.input :grade %>
    <%= f.button :submit, "Noter", class: 'btn btn-primary' %>
<% end %>

<%= link_to "back to orders", orders_path %>

