
<div class="container-fluid">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="true">account</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="myrequests-tab" data-toggle="tab" href="#myrequests" role="tab" aria-controls="myrequests" aria-selected="false">myrequests</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="myorders-tab" data-toggle="tab" href="#myorders" role="tab" aria-controls="myorders" aria-selected="false">myorders</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">settings</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab"></div>
    <div class="tab-pane fade" id="myrequests" role="tabpanel" aria-labelledby="myrequests-tab">
      <% @requests.each do |request| %>
        <div class="row">
          <div class="col-md-6">
            <%= render 'dashboard_request', request: request, text: "validate" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="myorders" role="tabpanel" aria-labelledby="myorders-tab">
      <% @orders.each do |order| %>
        <div class="row">
          <div class="col-md-6">
            <%= render 'dashboard_order', order: order, text: "validate" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
  </div>
</div>






