<div class="container pt-4 d-flex justify-content-center">
  <div class="card p-3 justify-content-center" style="width: 50rem;">
    <div class="card-body">
      <div class="row justify-content-center">
        <h2>Demande de Devis</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-7">
        <% if current_user.role = "buyer" %>
        <%= simple_form_for [@product, @order], remote: true, url: product_orders_path, method: :post do |f| %>
        <%= f.input :product_quantity, label:'Quantité' %>
        <%= f.button :submit, "Demander", class: 'btn btn-primary' %>
        <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
