<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= simple_form_for :products, url: products_path, method: "GET" do |f| %>
            <div class="row">
              <div class="col-md-3">
                <%= f.input :product, label: false,
                                        input_html: { placeholder: "que recherchez-vous ?" } %>
              </div>
            </div>
            <% end %>
